In [48]:
import pandas as pd
import numpy as np

In [49]:
round_df = pd.read_csv('rounds.csv')
round_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   company_name             114948 non-null  object
 2   company_category_list    111539 non-null  object
 3   company_country_code     106271 non-null  object
 4   company_state_code       104003 non-null  object
 5   company_region           104782 non-null  object
 6   company_city             104785 non-null  object
 7   funding_round_permalink  114949 non-null  object
 8   funding_round_type       114949 non-null  object
 9   funding_round_code       31140 non-null   object
 10  funded_at                114949 non-null  object
 11  raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(11)
memory usage: 10.5+ MB

In [50]:
companies_df = pd.read_csv('companies.csv')
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   permalink          66368 non-null  object
 1   name               66367 non-null  object
 2   homepage_url       61310 non-null  object
 3   category_list      63220 non-null  object
 4   funding_total_usd  66368 non-null  object
 5   status             66368 non-null  object
 6   country_code       59410 non-null  object
 7   state_code         57821 non-null  object
 8   region             58338 non-null  object
 9   city               58340 non-null  object
 10  funding_rounds     66368 non-null  int64
 11  founded_at         51147 non-null  object
 12  first_funding_at   66344 non-null  object
 13  last_funding_at    66368 non-null  object
dtypes: int64(1), object(13)
memory usage: 7.1+ MB

In [51]:
##Rename the column
companies_df.rename(columns={'permalink':'company_permalink','name':'company_name'},inplace=True)

In [52]:
output = round_df.merge(companies_df, on="company_name", how="left").fillna(0)

In [53]:
output.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115943 entries, 0 to 115942
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink_x      115943 non-null  object
 1   company_name             115943 non-null  object
 2   company_category_list    115943 non-null  object
 3   company_country_code     115943 non-null  object
 4   company_state_code       115943 non-null  object
 5   company_region           115943 non-null  object
 6   company_city             115943 non-null  object
 7   funding_round_permalink  115943 non-null  object
 8   funding_round_type       115943 non-null  object
 9   funding_round_code       115943 non-null  object
 10  funded_at                115943 non-null  object
 11  raised_amount_usd        115943 non-null  float64
 12  company_permalink_y      115943 non-null  object
 13  homepage_url             115943 non-null  object
 14  category_list            115943 non-null  object
 15  funding_total_usd        115943 non-null  object
 16  status                   115943 non-null  object
 17  country_code             115943 non-null  object
 18  state_code               115943 non-null  object
 19  region                   115943 non-null  object
 20  city                     115943 non-null  object
 21  funding_rounds           115943 non-null  int64
 22  founded_at               115943 non-null  object
 23  first_funding_at         115943 non-null  object
 24  last_funding_at          115943 non-null  object
dtypes: float64(1), int64(1), object(23)
memory usage: 23.0+ MB

In [54]:
output.isna().sum()

company_permalink_x        0
company_name               0
company_category_list      0
company_country_code       0
company_state_code         0
company_region             0
company_city               0
funding_round_permalink    0
funding_round_type         0
funding_round_code         0
funded_at                  0
raised_amount_usd          0
company_permalink_y        0
homepage_url               0
category_list              0
funding_total_usd          0
status                     0
country_code               0
state_code                 0
region                     0
city                       0
funding_rounds             0
founded_at                 0
first_funding_at           0
last_funding_at            0
dtype: int64

In [55]:
output['company_permalink_x'] == output['company_permalink_y']

0         True
1         True
2         True
3         True
4         True
          ...
115938    True
115939    True
115940    True
115941    True
115942    True
Length: 115943, dtype: bool

In [56]:
output.head()

,company_permalink_x,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,...,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,...,10000000,operating,IND,16,Mumbai,Mumbai,1,0,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,0,...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,0,0,0,0,/funding-round/650b8f704416801069bb178a1418776b,venture,B,...,3406878,operating,0,0,0,0,1,0,2014-01-30,2014-01-30
4,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,...,2000000,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19

In [57]:
output = output.drop_duplicates()
output.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115943 entries, 0 to 115942
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink_x      115943 non-null  object
 1   company_name             115943 non-null  object
 2   company_category_list    115943 non-null  object
 3   company_country_code     115943 non-null  object
 4   company_state_code       115943 non-null  object
 5   company_region           115943 non-null  object
 6   company_city             115943 non-null  object
 7   funding_round_permalink  115943 non-null  object
 8   funding_round_type       115943 non-null  object
 9   funding_round_code       115943 non-null  object
 10  funded_at                115943 non-null  object
 11  raised_amount_usd        115943 non-null  float64
 12  company_permalink_y      115943 non-null  object
 13  homepage_url             115943 non-null  object
 14  category_list            115943 non-null  object
 15  funding_total_usd        115943 non-null  object
 16  status                   115943 non-null  object
 17  country_code             115943 non-null  object
 18  state_code               115943 non-null  object
 19  region                   115943 non-null  object
 20  city                     115943 non-null  object
 21  funding_rounds           115943 non-null  int64
 22  founded_at               115943 non-null  object
 23  first_funding_at         115943 non-null  object
 24  last_funding_at          115943 non-null  object
dtypes: float64(1), int64(1), object(23)
memory usage: 23.0+ MB

In [58]:
output.head()

,company_permalink_x,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,...,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,...,10000000,operating,IND,16,Mumbai,Mumbai,1,0,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,0,...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,0,0,0,0,/funding-round/650b8f704416801069bb178a1418776b,venture,B,...,3406878,operating,0,0,0,0,1,0,2014-01-30,2014-01-30
4,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,...,2000000,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19

In [59]:
##irrelevant columns : company_permalink_y,company_permalink_x,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,
output['company_name'].value_counts()

Roost                                         48
Spire                                         44
Karma                                         44
Peach                                         28
Stoke                                         24
                                              ..
iLenze                                         1
iLEVEL Solutions                               1
Ilex Consumer Products Group                   1
ILiAD Biotechnologies                          1
İnovatiff Reklam ve Tanıtım Hizmetleri Tic     1
Name: company_name, Length: 66103, dtype: int64

In [60]:
round_df.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,2014-01-30,3406878.0
4,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2008-03-19,2000000.0

In [61]:
print(round_df.size)
round_df = round_df[round_df.raised_amount_usd.notnull()]

1379388

In [62]:
round_df.size

1139508

In [63]:
round_df['funding_round_code'].value_counts()

A    12807
B     8098
C     4220
D     1917
E      781
F      263
G       71
H       12
Name: funding_round_code, dtype: int64

In [64]:
round_df['raised_amount_usd'].isna().sum()

0

In [65]:
round_df['funding_round_code'].replace(np.nan, 0, inplace=True)
round_df['funding_round_code'].replace('A',1,inplace=True)
round_df['funding_round_code'].replace('B',2,inplace=True)
round_df['funding_round_code'].replace('C',3,inplace=True)
round_df['funding_round_code'].replace('D',4,inplace=True)
round_df['funding_round_code'].replace('E',5,inplace=True)
round_df['funding_round_code'].replace('F',6,inplace=True)
round_df['funding_round_code'].replace('G',7,inplace=True)
round_df['funding_round_code'].replace('H',8,inplace=True)
round_df['funding_round_code'].isna().sum()

0

In [66]:
round_df['funding_round_type'].value_counts()

venture                  50228
seed                     23603
debt_financing            6682
angel                     4860
grant                     2124
private_equity            1936
undisclosed               1582
convertible_note          1447
equity_crowdfunding       1228
post_ipo_equity            628
product_crowdfunding       386
post_ipo_debt              152
non_equity_assistance       73
secondary_market            30
Name: funding_round_type, dtype: int64

In [67]:
companies_df['status'].value_counts()

operating    53034
closed        6238
acquired      5549
ipo           1547
Name: status, dtype: int64

In [68]:
round_df.company_name.unique().size
print(companies_df.shape[0])
companies_df['is_roundA'] = np.zeros(companies_df.shape[0])   
companies_df['is_roundB'] = np.zeros(companies_df.shape[0])
companies_df['is_roundC'] = np.zeros(companies_df.shape[0])
companies_df['is_roundD'] = np.zeros(companies_df.shape[0])
companies_df['is_roundE'] = np.zeros(companies_df.shape[0])
companies_df['is_roundF'] = np.zeros(companies_df.shape[0])
companies_df['is_roundG'] = np.zeros(companies_df.shape[0])
companies_df['is_roundH'] = np.zeros(companies_df.shape[0])

66368

In [69]:
count = 0
dict = {}
   

for i in range(round_df.shape[0]):
    if round_df.iloc[i]['company_name'] not in dict:
        dict[round_df.iloc[i]['company_name']] = {}
        
        dict[round_df.iloc[i]['company_name']][1] = 0
        dict[round_df.iloc[i]['company_name']][2] = 0
        dict[round_df.iloc[i]['company_name']][3] = 0
        dict[round_df.iloc[i]['company_name']][4] = 0
        dict[round_df.iloc[i]['company_name']][5] = 0
        dict[round_df.iloc[i]['company_name']][6] = 0
        dict[round_df.iloc[i]['company_name']][7] = 0
        dict[round_df.iloc[i]['company_name']][8] = 0
        arr = round_df.iloc[i]['funding_round_code']
        dict[round_df.iloc[i]['company_name']][arr] = 1
    
    else: 
        arr = round_df.iloc[i]['funding_round_code']
        dict[round_df.iloc[i]['company_name']][arr] = 1
        
    # print(i)

In [70]:
countC = 0

# print(dict)


for i in range(companies_df.shape[0]):
    
    
    if companies_df.iloc[i]['company_name'] in dict.keys() :    
        companies_df.loc[countC,'is_roundA'] = dict[companies_df.iloc[i]['company_name']][1]
        companies_df.loc[countC,'is_roundB'] = dict[companies_df.iloc[i]['company_name']][2]
        companies_df.loc[countC,'is_roundC'] = dict[companies_df.iloc[i]['company_name']][3]
        companies_df.loc[countC,'is_roundD'] = dict[companies_df.iloc[i]['company_name']][4]
        companies_df.loc[countC,'is_roundE'] = dict[companies_df.iloc[i]['company_name']][5]
        companies_df.loc[countC,'is_roundF'] = dict[companies_df.iloc[i]['company_name']][6]
        companies_df.loc[countC,'is_roundG'] = dict[companies_df.iloc[i]['company_name']][7]
        companies_df.loc[countC,'is_roundH'] = dict[companies_df.iloc[i]['company_name']][8]
        
        
    countC += 1
    # print(countC)

In [71]:
# print(companies_df['is_roundA'].value_counts())
# print(companies_df['is_roundB'].value_counts())
# print(companies_df['is_roundC'].value_counts())
# print(companies_df['is_roundD'].value_counts())
# print(companies_df['is_roundE'].value_counts())
# print(companies_df['is_roundF'].value_counts())
# print(companies_df['is_roundG'].value_counts())
# print(companies_df['is_roundH'].value_counts())

In [72]:
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company_permalink  66368 non-null  object
 1   company_name       66367 non-null  object
 2   homepage_url       61310 non-null  object
 3   category_list      63220 non-null  object
 4   funding_total_usd  66368 non-null  object
 5   status             66368 non-null  object
 6   country_code       59410 non-null  object
 7   state_code         57821 non-null  object
 8   region             58338 non-null  object
 9   city               58340 non-null  object
 10  funding_rounds     66368 non-null  int64
 11  founded_at         51147 non-null  object
 12  first_funding_at   66344 non-null  object
 13  last_funding_at    66368 non-null  object
 14  is_roundA          66368 non-null  float64
 15  is_roundB          66368 non-null  float64
 16  is_roundC          66368 non-null  float64
 17  is_roundD          66368 non-null  float64
 18  is_roundE          66368 non-null  float64
 19  is_roundF          66368 non-null  float64
 20  is_roundG          66368 non-null  float64
 21  is_roundH          66368 non-null  float64
dtypes: float64(8), int64(1), object(13)
memory usage: 11.1+ MB

In [73]:
companies_df['category_list'].value_counts()

Software                                                                       3995
Biotechnology                                                                  3615
E-Commerce                                                                     1332
Mobile                                                                         1177
Clean Technology                                                               1133
                                                                               ...
Consumer Internet|Marketplaces|Mobile|Mobile Payments|Transportation|Travel       1
Apps|Mobile|Private Social Networking                                             1
Cloud Computing|Enterprise Software|Infrastructure|PaaS|Social Media              1
Content|SaaS|Social Media Marketing|Software                                      1
Consumer Goods|E-Commerce|Internet                                                1
Name: category_list, Length: 27296, dtype: int64

In [83]:
investor = pd.read_csv('investments.csv')
invest_df = investor[['company_permalink','investor_permalink']].groupby(['company_permalink']).agg(['count'])

In [84]:
invest_df.head()

                                 investor_permalink
                                              count
company_permalink
/organization/0-6-com                             1
/organization/004-technologies                    1
/organization/01games-technology                  1
/organization/0xdata                             14
/organization/1                                  13

In [85]:
companies_df = pd.merge(how='inner',left=companies_df, right=invest_df, left_on='company_permalink', right_on='company_permalink')

C:\Users\ATHARVA\AppData\Local\Temp\ipykernel_3808\2608423124.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  companies_df = pd.merge(how='inner',left=companies_df, right=invest_df, left_on='company_permalink', right_on='company_permalink')

In [86]:
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44738 entries, 0 to 44737
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   company_permalink                  44738 non-null  object
 1   company_name                       44737 non-null  object
 2   homepage_url                       41971 non-null  object
 3   category_list                      42309 non-null  object
 4   funding_total_usd                  44738 non-null  object
 5   status                             44738 non-null  object
 6   country_code                       39748 non-null  object
 7   state_code                         38563 non-null  object
 8   region                             38926 non-null  object
 9   city                               38928 non-null  object
 10  funding_rounds                     44738 non-null  int64
 11  founded_at                         33318 non-null  object
 12  first_funding_at                   44718 non-null  object
 13  last_funding_at                    44738 non-null  object
 14  is_roundA                          44738 non-null  float64
 15  is_roundB                          44738 non-null  float64
 16  is_roundC                          44738 non-null  float64
 17  is_roundD                          44738 non-null  float64
 18  is_roundE                          44738 non-null  float64
 19  is_roundF                          44738 non-null  float64
 20  is_roundG                          44738 non-null  float64
 21  is_roundH                          44738 non-null  float64
 22  ('investor_permalink', 'count')_x  44738 non-null  int64
 23  (investor_permalink, count)        44738 non-null  int64
dtypes: float64(8), int64(3), object(13)
memory usage: 8.5+ MB

In [89]:
companies_df = companies_df.rename(columns={"('investor_permalink', 'count')_x": "investor_count"})

In [90]:
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44738 entries, 0 to 44737
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   company_permalink            44738 non-null  object
 1   company_name                 44737 non-null  object
 2   homepage_url                 41971 non-null  object
 3   category_list                42309 non-null  object
 4   funding_total_usd            44738 non-null  object
 5   status                       44738 non-null  object
 6   country_code                 39748 non-null  object
 7   state_code                   38563 non-null  object
 8   region                       38926 non-null  object
 9   city                         38928 non-null  object
 10  funding_rounds               44738 non-null  int64
 11  founded_at                   33318 non-null  object
 12  first_funding_at             44718 non-null  object
 13  last_funding_at              44738 non-null  object
 14  is_roundA                    44738 non-null  float64
 15  is_roundB                    44738 non-null  float64
 16  is_roundC                    44738 non-null  float64
 17  is_roundD                    44738 non-null  float64
 18  is_roundE                    44738 non-null  float64
 19  is_roundF                    44738 non-null  float64
 20  is_roundG                    44738 non-null  float64
 21  is_roundH                    44738 non-null  float64
 22  investor_count               44738 non-null  int64
 23  (investor_permalink, count)  44738 non-null  int64
dtypes: float64(8), int64(3), object(13)
memory usage: 8.5+ MB

In [97]:
companies_df.drop(columns=[companies_df.columns[-1]],inplace=True)

In [98]:
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44738 entries, 0 to 44737
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company_permalink  44738 non-null  object
 1   company_name       44737 non-null  object
 2   homepage_url       41971 non-null  object
 3   category_list      42309 non-null  object
 4   funding_total_usd  44738 non-null  object
 5   status             44738 non-null  object
 6   country_code       39748 non-null  object
 7   state_code         38563 non-null  object
 8   region             38926 non-null  object
 9   city               38928 non-null  object
 10  funding_rounds     44738 non-null  int64
 11  founded_at         33318 non-null  object
 12  first_funding_at   44718 non-null  object
 13  last_funding_at    44738 non-null  object
 14  is_roundA          44738 non-null  float64
 15  is_roundB          44738 non-null  float64
 16  is_roundC          44738 non-null  float64
 17  is_roundD          44738 non-null  float64
 18  is_roundE          44738 non-null  float64
 19  is_roundF          44738 non-null  float64
 20  is_roundG          44738 non-null  float64
 21  is_roundH          44738 non-null  float64
 22  investor_count     44738 non-null  int64
dtypes: float64(8), int64(2), object(13)
memory usage: 9.2+ MB

In [99]:
companies_df.isnull().sum()

company_permalink        0
company_name             1
homepage_url          2767
category_list         2429
funding_total_usd        0
status                   0
country_code          4990
state_code            6175
region                5812
city                  5810
funding_rounds           0
founded_at           11420
first_funding_at        20
last_funding_at          0
is_roundA                0
is_roundB                0
is_roundC                0
is_roundD                0
is_roundE                0
is_roundF                0
is_roundG                0
is_roundH                0
investor_count           0
dtype: int64

In [100]:
companies_df.to_csv('final.csv',index=False)